#home-bg {
  background: url(../assets/home-bg.jpeg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: #0bd;
  // background-blend-mode: hard-light;

  .home-content {
    margin-top: 15%;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-top: 40%;
    }

    .home-title {
      color: #009DAE;
      font-size: 3rem;
    }

    .btn-posi {
      display: inline-block;
      padding-top: 3%;
    }

    .v-btn__content {
      color: #fff;
    }
  }
}