img {
  max-width: 100%;
  height: auto;
}

.skill {
  margin-bottom: 20px;
  color: #71DFE7;
}

.change-btn {
  text-align: center;
}

.row {
  margin: 20px 0 0 0;
}

.v-image {
  margin: 0 auto 60px auto;
}